/* booking.css */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup_form_container {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    /* Adjust the width as needed */
    max-width: 500px;
    /* Optional: set a max-width for better readability */
}

.form_container {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.green_btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.green_btn:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.logout {
    float: right;
    padding: 10px;
    background-color: rgb(255, 0, 51);
}

.back {

    padding: 10px;
    background-color: rgb(0, 38, 255);
}